@page "/"
@inherits IndexBase
@inject HttpClient Http

<div class="my-3">
    <LeafletMap Map="PositionMap" TileLayer="OpenStreetMapsTileLayer" />
</div>

<div class="my-3">
   @* <EditForm Model="MarkerViewModel" OnSubmit="GetMarkerById">
        <button type="submit" class="btn btn-primary my-3">View Marker</button>
    </EditForm>*@
      <EditForm Model="MarkerViewModel" oncontextmenu="PostMarkerOnLeftClick">
        <div class="form-row">
            <div class="col">           
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="title">Title of Marker</label>
                    <InputText id="title" @bind-Value="@MarkerViewModel.Title" class="form-control" placeholder="Title of marker" />
                </div>
                <div class="form-group">
                    <label for="slope1">1st Slope</label>
                    <InputText id="slope1" @bind-Value="@MarkerViewModel.Slope1" class="form-control" placeholder="Slope 1" />
                </div>
                <div class="form-group">
                    <label for="slope2">2nd Slope</label>
                    <InputText id="slope2" @bind-Value="@MarkerViewModel.Slope2" class="form-control" placeholder="Slope 2" />
                </div>
                <div class="form-group">
                    <label for="slope3">3rd Slope</label>
                    <InputText id="slope3" @bind-Value="@MarkerViewModel.Slope3" class="form-control" placeholder="Slope 3" />
                </div>
                <div class="form-group">
                    <label for="slope4">4th Slope</label>
                    <InputText id="slope4" @bind-Value="@MarkerViewModel.Slope4" class="form-control" placeholder="Slope 4" />
                </div>
                 <div class="form-group">
                    <label for="image">Insert Image</label>
                    <InputText id="image" @bind-Value="@MarkerViewModel.Image" class="form-control" placeholder="Image" />
                </div>
                <div class="form-group">
                    <label for="link">Link catre Cazare</label>
                    <InputText id="link" @bind-Value="@MarkerViewModel.Link" class="form-control" placeholder="Link" />
                </div>
            </div>
            </div>
    </EditForm>
</div>
